
obj/MusicBox.csproj.nuget.g.props
obj/MusicBox.csproj.nuget.dgspec.json
obj/MusicBox.csproj.nuget.cache
obj/Debug/netcoreapp3.0/MusicBox.pdb
obj/Debug/netcoreapp3.0/MusicBox.exe
obj/Debug/netcoreapp3.0/MusicBox.dll
obj/Debug/netcoreapp3.0/MusicBox.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/MusicBox.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/MusicBox.csproj.CopyComplete
obj/Debug/netcoreapp3.0/MusicBox.assets.cache
obj/Debug/netcoreapp3.0/MusicBox.AssemblyInfoInputs.cache
bin/Debug/netcoreapp3.0/SharpDX.Mathematics.dll
bin/Debug/netcoreapp3.0/SharpDX.DXGI.dll
bin/Debug/netcoreapp3.0/SharpDX.dll
bin/Debug/netcoreapp3.0/SharpDX.Direct3D11.dll
bin/Debug/netcoreapp3.0/SharpDX.Direct2D1.dll
bin/Debug/netcoreapp3.0/SharpDX.Animation.dll
bin/Debug/netcoreapp3.0/MusicBox.runtimeconfig.json
bin/Debug/netcoreapp3.0/MusicBox.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/MusicBox.pdb
bin/Debug/netcoreapp3.0/MusicBox.exe
bin/Debug/netcoreapp3.0/MusicBox.dll
bin/Debug/netcoreapp3.0/MusicBox.deps.json
bin/Debug/netcoreapp3.0/FlysEngine.dll
bin/Debug/netcoreapp3.0/FlysEngine.Desktop.dll
.vs/MusicBox/v16/Server/sqlite3/storage.ide-wal
.vs/MusicBox/v16/Server/sqlite3/storage.ide-shm
.vs/MusicBox/v16/Server/sqlite3/storage.ide
.vs/MusicBox/v16/Server/sqlite3/db.lock
.vs/MusicBox/v16/.suo
obj/Debug/netcoreapp3.0/MusicBox.AssemblyInfo.cs
obj/MusicBox.csproj.nuget.g.targets
obj/project.assets.json
